<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Item</title>
</head>
<body>
    <a href="/success">Home</a>
    <a href="/logout">logout</a>

    <h1>Create a New Wishlist Item</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action="/new" method='POST'>
		{% csrf_token %}
	   Item/Product Name:<input type="text" name="item_name">
	   <input type="submit" value="add">
	</form>	
 
    
</body>
</html>