<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>YOU ARE NOT IN KANSAS ANY MORE, Toto.</h1>

        <img src="fork-in-the-road.jpg" alt="none">
         <input type= "button" value="Follow the yellow brick road" name= "continue">
         <input type="button" value="Become one of those monkey things with wings". name = "fail">
    
</body>
</html>