<!DOCTYPE html>
<html>
		{% load static %}
	<head>
		<link rel='stylesheet' href="{% static 'login/style.css' %}">

		<title>Users</title>
	</head>
	<body>

			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
	   <h1>Hello,{{user.name}}</h1>

	   <a href="/logout">logout</a>
	
	   <h3>Add Appointment</h3>
	   <form action="/newappointment" method='POST'>
		<br>
		{% csrf_token %}
	   Date:<input type="date" name="appointment_date">
	   <br>
	   Time:<input type="time" name="appointment_time">
	   <br>
	   Task:<input type="text" name="task">
	   <br>
	   <input type="submit" value="add">
	</form>	
	