<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <P>Thank you for registering</P>
    
    <!-- <button type="click" action="/gohome" method="GET">Go Home</button> -->
    <!-- <button>
        <a href="/gohome">Go Home</a>
    </button> -->
    <form action="/gohome" method="GET">
        <input type="submit" value="Go Home">
    </form>

</body>
</html>